/* SETTINGS */

.ftc-palette {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-1);
	padding: var(--size-4-2) 0;
}

.ftc-palette-row {
	display: flex;
	align-items: center;
	gap: var(--size-4-2);
	padding: var(--size-4-1) var(--size-4-2);
	border-radius: var(--radius-m);

	&:hover {
		background-color: var(--background-primary-alt);
	}

	.ftc-palette-name {
		flex: 1 1 auto;
		font-weight: var(--font-medium);
	}

	.extra-setting-button {
		color: var(--text-muted);
	}
}

.key-indicator {
	display: flex;
	width: var(--size-4-8);
	height: var(--size-4-8);
	align-items: center;
	justify-content: center;
	border: 2px solid var(--background-modifier-border);
	border-radius: 0.3em;
	cursor: pointer;
	flex: 0 0 auto;

	&:hover {
		border-color: var(--interactive-accent);
	}
}

.ftc-name-invalid {
	border-color: var(--text-error) !important;
}
