/* color delimiter icon */

.ftc-color-delimiter {
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}



.ftc-custom-color-modal {
	.ftc-custom-color-preview {
		margin-bottom: 1em;
		padding: 0.6em 0.8em;
		border-radius: var(--radius-s);
		background-color: var(--background-secondary);
		font-size: var(--font-ui-medium);
		word-break: break-word;
	}
}
